:root {
    --text-color: #7C7C7C;
    --text-color2: #1C1C1C;
    --background-color: rgba(255, 255, 255, 0.75);
    --background-red: rgba(255, 205, 205, 0.70);
    --background-blue: rgba(161, 176, 255, 0.70);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #7C7C7C;
        --text-color2: #D9D9D9;
        --background-color: rgba(0, 0, 0, 0.75);
        --background-red: rgba(137, 0, 0, 0.56);
        --background-blue: rgba(0, 28, 174, 0.56);
    }
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Regular.ttf);
}

.box.dark {
    --text-color: #7C7C7C;
    --text-color2: #D9D9D9;
    --background-color: rgba(0, 0, 0, 0.75);
    --background-red: rgba(137, 0, 0, 0.56);
    --background-blue: rgba(0, 28, 174, 0.56);
}

.box {
    position: absolute;
    z-index: 10;
    width: 540px;
    height: 98vh;
    flex-shrink: 0;
    right: 1vh;
    top: 1vh;
    border-radius: 30px;
    background: linear-gradient(155deg, var(--background-red) -3.68%, var(--background-blue) 106.21%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.innerBox {
    width: 516px;
    height: 46.6vh;

    border-radius: 22px;
    background: var(--background-color);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);

    margin: 1.6vh 12px 0px 12px;

    padding: 40px;
    box-sizing: border-box;

    color: var(--text-color2);

    /* font-family: Jost; */
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hideButton {
    position: absolute;
    z-index: 12;
    right: 4vh;
    bottom: 4vh;

    height: 48px;
    width: 48px;

    /* background-color: var(--background-color); */
    background-image: url("../images/icon-48.png");
    background-size: cover; 
    background-position: center; 
    /* background-repeat: no-repeat; */

    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
}