:root {
    --text-color: #7C7C7C;
    --text-color2: #1C1C1C;
    --background-color: rgba(255, 255, 255, 0.75);
    --background-red: rgba(255, 205, 205, 0.70);
    --background-blue: rgba(161, 176, 255, 0.70);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #7C7C7C;
        --text-color2: #D9D9D9;
        --background-color: rgba(0, 0, 0, 0.78);
        --background-red: rgba(137, 0, 0, 0.56);
        --background-blue: rgba(0, 28, 174, 0.56);
    }
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Regular.ttf);
}

* {
    transition: 0.5s;
}

body {
    margin: 0;
    padding: 0;

    height: 340px;
    width: 420px;
}

body.dark {
    --text-color: #7C7C7C;
    --text-color2: #D9D9D9;
    --background-color: rgba(0, 0, 0, 0.78);
    --background-red: rgba(137, 0, 0, 0.56);
    --background-blue: rgba(0, 28, 174, 0.56);
}

button:hover {
    cursor: pointer;
}

#popup {
    height: 340px;
    width: 420px;

    position: absolute;

    background: linear-gradient(120deg, var(--background-red) 0%, var(--background-blue) 100%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    /* background-image: url("pop up.png");
    background-repeat: no-repeat;
    background-size: 420px 340px; */
}

/* #popup > * {
    opacity: 0.5;
} */

#login {
    height: 90px;
    width: 400px;
    flex-shrink: 0;

    position: absolute;
    margin: 10px 0px 0px 10px;

    border-radius: 20px;
    background: var(--background-color);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);

    overflow: hidden;
}

#login p {
    color: var(--text-color);
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
}

#logIn {
    top: -8px;
    left: 24px
}

#activate {
    top: -8px;
    left: 176px
}

#readyToUse {
    top: -8px;
    left: 301px
}

#line {
    position: absolute;
    left: 24px;
    top: 26px; 
}

#key {
    position: absolute;
    
    top: 52px;
    height: 26.292px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    background: linear-gradient(92deg, rgba(255, 207, 205, 0.56) -0.5%, rgba(161, 176, 255, 0.56) 106.96%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    text-align: center;
    color: var(--text-color2);
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#key::placeholder {
    color: var(--text-color2);
}

#key.stage1 {
    left: 24px;
    width: 288.74px;
}

#key.stage2 {
    left: 85.404px;
    width: 227.336px;
}

#key.stage3 {
    left: 85.404px;
    width: 288.74px;
}

#left {
    position: absolute;
    
    top: 52px;
    height: 26.292px;
    flex-shrink: 0;

    color: var(--text-color2);
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    /* background: var(--background-red); */
    background: rgba(255, 205, 205, 0.70);
    box-shadow: -2px -2px 3px 1px rgba(0, 0, 0, 0.20) inset, 2px 2px 3px 1px rgba(255, 255, 255, 0.50) inset, 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);

    overflow: hidden;

    font-size: 10px;
}

#left.stage1 {
    left: 0px;
    width: 56.144px;
    opacity: 0;
}

#left.stage2 {
    left: 24px;
    width: 56.144px;
    opacity: 1;
}

#left.stage3 {
    left: 24px;
    width: 56.144px;
    opacity: 1;
}

#right {
    position: absolute;
    
    top: 52px;
    height: 26.292px;
    flex-shrink: 0;

    color: var(--text-color2);
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    /* background-color: var(--background-blue); */
    background: rgba(161, 176, 255, 0.60);
    box-shadow: -2px -2px 3px 1px rgba(0, 0, 0, 0.20) inset, 2px 2px 3px 1px rgba(255, 255, 255, 0.50) inset, 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);

    overflow: hidden;

    font-size: 10px;
}

#right.stage1 {
    left: 318px;
    width: 56.144px;
    opacity: 1;
}

#right.stage2 {
    left: 318px;
    width: 56.144px;
    opacity: 1;
}

#right.stage3 {
    left: 374.144px;
    width: 56.144px;
    opacity: 0;
}

#info {
    width: 372px;
    height: 207px;
    flex-shrink: 0;

    position: absolute;
    margin: 110px 0px 0px 10px;

    border-radius: 20px;
    background: var(--background-color);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);

    color: var(--text-color);
    font-family: Jost;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.2;

    padding: 16px 0px 0px 28px;

    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    overflow-wrap: break-word;
}

a {
    color: inherit;
}

span {
    display: inline-block;
}


#info .dark {
    color: var(--text-color2);
}

#darkLight {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0; 
}